[submodule "DetoxSync/DTXLoggingInfra"]
	path = DetoxSync/DTXLoggingInfra
	url = https://LeoNatan@github.com/wix/DTXLoggingInfra.git
[submodule "DetoxSync/DTXSwizzlingHelper"]
	path = DetoxSync/DTXSwizzlingHelper
	url = https://github.com/wix/DTXObjectiveCHelpers.git
